{% extends "layout.html.twig" %}

{% block content %}
    <form id="category-form" action="{{ url('category/save') }}" method="post">
        <input type="hidden" name="id" value="{{ category.id|default('') }}" />
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">{{ page_title }}</h3>
                <div class="pull-right">
                    <a href="{{ url('category/list')}}" class="btn btn-primary">Score Category List</a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ category.getName() }}" required />
                        </div>
                        <div class="form-group">
                            <label for="sort_order">Sort Order</label>
                            <input type="text" class="form-control" id="sort_order" name="sort_order" value="{{ category.getSortOrder() }}" required />
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="optional_hidden" name="optional" value="0"/>
                            <input type="checkbox" class="minimal" id="optional" name="optional" {% if (category.getOptional()) %} checked="checked" {% endif %} value="1" />
                            <label for="optional">Optional</label>
                        </div>
                        <div class="form-group">
                            <label for="icon_class">Icon Class</label>
                            <input type="text" class="form-control" id="icon_class" name="icon_class" value="{{ category.getIconClass() }}"/>
                            <span id="icon-sample" class="input-group-addon"></span>
                        </div>
                        <div class="form-group">
                            <label for="Color">Color</label>
                            <input type="text" class="form-control" id="color" name="color" value="{{ category.getColor() }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block footer %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var iconClass = $('#icon_class');
            iconClass.on('change', function () {
                var sample = $('#icon-sample');
                var value = $(this).val();
                if (value === '') {
                    sample.html('');
                } else {
                    sample.html('<span class="' + value + '"></span>');
                }
            });
            iconClass.trigger('change');
        });

    </script>
{% endblock %}
