{% extends "layout.html.twig" %}
{% block head %}
    {% include 'misc/datatable.html.twig' %}
{% endblock %}
{% block content %}
    <div class="pull-right">
        <a href="{{ url('category/new')}}" class="btn btn-primary">Add new Score Category</a>
    </div>
    <table class="table data-table" id="categories-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sort Order</th>
                <th>Icon</th>
                <th>Optional</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if data.categories|length > 0 %}
                {% for category in data.categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.sort_order }}</td>
                    <td><span class="{{ category.icon_class }}"></span></td>
                    <td>{% if category.optional %} Yes {% else %} No {% endif %}</td>
                    <td><a href="{{ url('category/new', {'id': category.id})}}">Edit</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td align="center" colspan="3">No Score Categories so far</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
