{% extends "layout.html.twig" %}
{% block head %}
    {% include 'misc/datatable.html.twig' %}
{% endblock %}
{% block content %}
    <div class="pull-right">
        <a href="{{ url('game/new')}}" class="btn btn-primary">Add new Game</a>
    </div>
    <table class="table data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Players</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if data.games|length > 0 %}
                {% for game in data.games %}
                <tr>
                    <td>Game {{ game.id }}</td>
                    <td>{{ game.date }}</td>
                    <td>{{ game.player_name }}</td>
                    <td><a href="{{ url('game/view', {'id': game.id}) }}">View</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td align="center" colspan="3">No Games so far.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
