{% extends "layout.html.twig" %}
{% block head %}
    <link href="{{ asset('select2/css/select2.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Search Form</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="get">
                <div class="box-body">
                    <div class="form-group">
                        <label for="search-date-start">Game date from</label>
                        <input class="form-control" id="search-date-start" type="text" name="search[date][start]" value="{{ search.values.date.start }}">
                    </div>
                    <div class="form-group">
                        <label for="search-date-end">Game date to</label>
                        <input class="form-control" id="search-date-end" type="text" name="search[date][end]" value="{{ search.values.date.end }}">
                    </div>
                    <div class="form-group">
                        <label for="search-player">Player</label>
                        <select class="form-control select2" id="search-player" name="search[player_id][]" multiple>
                            {% for player in search.players %}
                                <option value="{{ player.value }}" {% if player.value in search.values.player_id %} selected="selected" {% endif %}>{{ player.label }}</option>
                            {% endfor %}
                        </select>
                        <input type="checkbox" id="select-all-players" />
                        <label for="select-all-players">Select all Players</label>
                    </div>
                    <div class="form-group">
                        <label for="search-category">Category</label>
                        <select class="form-control select2" id="search-category" name="search[category_id][]" multiple>
                            {% for category in search.categories %}
                                <option value="{{ category.value }}" {% if category.value in search.values.category_id %} selected="selected" {% endif %}>{{ category.label }}</option>
                            {% endfor %}
                        </select>
                        <input type="checkbox" id="select-all-categories" />
                        <label for="select-all-categories">Select all Categories</label>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
 <div class="row">
     {% include 'misc/grid.html.twig' with {'grid': grid} %}
 </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ asset('select2/js/select2.js') }}"></script>
    <script type="text/javascript">
        jQuery('#search-date-start, #search-date-end').datepicker();
        jQuery('select').select2();
        jQuery('#select-all-players').on('change', function () {
            selectAllInFilter('#search-player', jQuery(this).prop('checked'));
        });
        jQuery('#select-all-categories').on('change', function () {
            selectAllInFilter('#search-category', jQuery(this).prop('checked'));
        });
        function selectAllInFilter(selector, selected) {
            jQuery(selector).find('option').prop('selected', selected);
            jQuery(selector).trigger('change');
        }
    </script>
    {% include 'misc/grid-js.html.twig' with {'grid': grid} %}
{% endblock %}
